.flexbox-container {
    display: flex;
    flex-direction: row; /* Change to 'column' for vertical layout */

}

.flexbox1 {
    background-color: lightblue;
    width: 50px;
}
.flexbox2 {
    background-color: lightpink;
    flex: 1;
}
.flexbox3 {
    background-color: lightblue;
    width: 75px;
}